.nasplace {
    background-attachment: scroll;
    background-color: #efefef;
    background-image: none;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #aaa;
    border-radius: 7px;
    box-shadow: 2px 2px 1px gray;
    display: block;
    max-height: 150px;
    max-width: 550px;
    min-width: 350px;
    padding: 5px;
    position: fixed;
    right: 200px;
    top: 42px;
    z-index: 1001;
}

.nasplaceitself {
	overflow-y: auto;
	max-height:120px;
	min-height:20px;
	white-space:nowrap;
	width:100%;
	float:left;
}
/* Debug css */
/*
.nasplace {
    min-height: 450px;
    min-width: 650px;
}

.nasplaceitself {
	overflow-y: auto;
	min-height:430px;
}

*/
